<div class="container-fluid py-4">
    <div class="row">

        <div class="row mt-4">
            <div class="col-lg-7 mb-lg-0 mb-4">
                <div class="card z-index-2 h-100">
                    <div class="card-header pb-0 pt-3 bg-transparent">

                        <h4>Usted debe en este trabajo:</h4>



                        Pensar en un proyecto a realizar
                        <br>
                        Ajustar diseño, menús a ese proyecto
                        <br>
                        Adaptar completamente a su gusto.
                        
                        <br>
                        Adicionar nuevos menús en barra lateral izquierda

                        <br>
                        <br>
                        Conectarse a base de datos
                        <br>
                        <br>

                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>