<style>
    .texto {
        position: absolute;
        color: rgb(13, 14, 13);
        font-size: 22px;
        background-color: rgb(136, 202, 139);
    }
</style>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Agua destilada</p>
                                <h5 class="font-weight-bolder">
                                    32
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">+55%</span>
                                    que año anterior
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Equipos Instalados</p>
                                <h5 class="font-weight-bolder">
                                    480
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">+3%</span>
                                    en la última semana
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                <i class="fa fa-user-plus text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Energía generada</p>
                                <h5 class="font-weight-bolder">
                                    +45 kW
                                </h5>
                                <p class="mb-0">
                                    <span class="text-danger text-sm font-weight-bolder">-2%</span>
                                    que el mes anterior
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                <i class="fa fa-bolt text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Beneficios</p>
                                <h5 class="font-weight-bolder">
                                    +$56 Millones
                                </h5>
                                <p class="mb-0">
                                    <span class="text-success text-sm font-weight-bolder">+5%</span> mes anterior
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                <i class="fa fa-leaf text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">

                    <h4>Destiladores solares activos</h4>

                    El proceso de desalinización es un método que permite eliminar los contaminantes y las sales
                    contenidas en las aguas salobres o en el agua de mar, hasta convertirla en agua dulce. Los
                    destiladores solares son equipos que sirven para tratar este tipo de aguas, a través de procesos
                    térmicos de cambio de fase, para conseguir agua dulce apta para el consumo humano y para las
                    actividades cotidianas de las personas.
                    <br>
                    <br>
                    La destilación solar es una técnica autosostenible que promete obtener agua potable en lugares
                    remotos, de una manera económica y ecológica. Sin embargo, la baja productividad es el inconveniente
                    de los destiladores solares tradicionales para satisfacer la creciente demanda de agua potable.
                    <br>
                    <br>
                    <h5>Lo novedoso del software</h5>
                    El software permite hallar el área del desalinizador solar a partir del volumen inicial del agua
                    salobre o agua de mar para tratar, la potencia de la resistencia eléctrica necesaria para elevar el
                    agua salubre a los rangos que el usuario estime y las características mínimas de los equipos
                    fotovoltaicos para que trabaje de manera híbrida y autónoma, en pro de aumentar el rendimiento y
                    producción de agua destilada en el sistema de destilación solar.
                    El software es novedoso, ya que utiliza ecuaciones inéditas para el dimensionamiento del sistema y
                    proporciona resultados concretos y de fácil interpretación para el usuario.
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card card-carousel overflow-hidden h-100 p-0">
                <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
                    <div class="carousel-inner border-radius-lg h-100">
                        <div class="carousel-item h-100 active" style="background-image: url('/assets/img/real1.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-camera-compact text-dark opacity-10"></i>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/real2.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>



                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/real3.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/real4.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>